<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .diary{

        }
        .diary .diary__list{
            
        }
        .diary .diary__list-item{
            border-top: 1px solid #000;
        }
        .diary{

        }
    </style>
    <p><a href="{% url 'myapp:home' %}">ホームに戻る</a></p>
    <h1>デイリーの新規作成</h1>
    <div class="sec__diary">
        <div class="diary">
            <div class="diary__create">
                {% csrf_token %}
                {{ from }}
            </div>
        </div>
        
    </div>
    

    
</body>
</html>